<ion-header>
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>
	<ul>
	
		<li>My name is Trevor Carver and I am currently seeking a degree in Web Design & Development at LCSC.</li>
		<li>I am 21 years old and I am turning 22 on the 24th of this month(February).</li>
		<li>I used to be a cheerleader when I was in high school and my freshman year at University of Idaho.</li>
		<li>I live in Orofino.</li>
		<li>I work at the local gas station here in town when I don't have class</li>
		
		

	</ul>
	
	<img src ="../app/../src/assets/icon/selfie.jpg">
	
	<p>To learn more click on Tab Three</p>


</ion-content>
