<ion-header>
  <ion-toolbar>
    <ion-title>
      About My Application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <h1>My First Ionic Application</h1>
   <p>In this application I will be informing you about my life and my interests/goals I'd like to achieve.</p>
   <p>I will have three different tabs that you will be able to click on. Tab One will be about my assignment, and Tabs Two & Three will be about me.</p>
   <p>To learn more about me just click on the next tab(Tab Two)</p>
</ion-content>
